.c-video {
  padding: 35px 0;
  color: rgba($bg-dark-text-color, 0.8);
  @media (min-width: 768px) {
    padding: 65px 0 30px;
  }
  &__sub-title {
    font-size: 14px;
    line-height: 19px;
  }
  &__title {
    font-size: 28px;
    line-height: 38px;
    margin-top: 0 !important;
  }
  &__overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__message {
    font-weight: bold;
    font-size: 18px;
  }
  &__icon {
    margin: 0 auto 1.5rem;
    color: #fff;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 1rem 0;
    color: rgba($bg-dark-text-color, 0.95);
  }
  .container {
    position: relative;
  }
  &__description {
    margin-top: 2.5rem;
    font-size: 1.25rem;
  }
}

.c-video-list {
  padding: 8vh 0 1vh;
  &:first-of-type {
    padding-top: 20vh;
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 25px;
    @media (min-width: 768px) {
      margin-bottom: 35px;
    }
  }
}

.c-video-card {
  -webkit-user-drag: none;
  * {
    -webkit-user-drag: none;
  }
  display: block;
  text-decoration: none;
  color: $bg-dark-text-color;
  &__img {
    position: relative;
  }
  @media (min-width: 768px) {
    // margin-bottom: 50px;
  }
  &:hover {
    text-decoration: none;
    color: $bg-dark-text-color;
    opacity: 0.75;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;
  }
  &__duration {
    font-size: 14px;
  }
  &__progress {
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    > span {
      position: absolute;
      height: 100%;
      background: #fff;
    }
  }
  &__overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
